.card{
 
    
    text-align: center;
    .card-body{
       
         padding: 5px;
         
        .name{
           font-weight: bold;
            margin: 0;
        }
        .category{
            margin: 0;
        }
        .price{
            margin: 0;
            font-weight: bold;
            color: red;
        }

    }

}