<ng-container *ngIf="true">
    <div class="container-fluid">
        <div class="row pt-5 ">
        <div class="col"></div>
        <div class="col-lg-6 mb-5">
            <h1 class="title">Shopping Cart</h1>
            <div class="card-table ">
                <div class="card-product">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th></th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th></th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, suscipit.</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number" class="form-control" min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, eos!</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control"  min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, libero?</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control"  min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci?</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control" min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, soluta?</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control"  min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, perspiciatis!</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control" min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, voluptatibus?</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control"  min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, odio?</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control" min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, voluptatem.</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control"  min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, repellendus?</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number" class="form-control"  min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                            <tr>
                                <td><img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ce8a6f3aa6294de988d7abce00c4e459_9366/Breaknet_Shoes_White_FX8707_01_standard.jpg" alt="photo"> </td>
                                <td>tshirt for summer Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, dolore.</td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><input type="number"  class="form-control" min = "0" max="10" value="1" ></td>
                                <td style="font-weight:bold">{{18 | currency:'USD'}}</td>
                                <td><button class="btn btn-outline-dark btn-sm ms-4">X</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-outline-dark mx-2 mt-3" style="border-radius: 50px;">Continue Shopping</button>
                    <button class="btn btn-dark mt-3" style="border-radius: 50px;">Clear Shopping Card</button>
                </div>
            </div>

        </div>

      <div class="col-lg-3 mt-5">
                <div class="card border-white mb-3 mt-5 " style="max-width: 25rem;">
                    <div class="card-body">
                        <h3 class="mb-3">Summary</h3>
                        <div class="d-flex mx-auto mt-3">
                            <h5 class="card-title">Shoping card total</h5>
                            <button class="btn btn-sm mb-5 btn-outline-light text-black" (click)="toggleIm()">{{boll ? '<': '>'}}</button>
                        </div>
                        <div class="m-3" style="height:1px; display:block ; background-color: gray;" *ngIf="boll"></div>
                        <div class="row">
                            <div class="col">
                                <p style="font-weight:bold"  *ngIf="boll"> Order Total</p>
                            </div>
                            <div class="col "></div>
                            <div class="col d-flex flex-column align-items-end"> <p style="font-weight:bold" *ngIf="boll"> {{100 | currency:'USD'}}</p>
                            </div>
                        </div>
                        <button class="btn btn-primary d-flex mx-auto mt-5 rounded-pill" routerLink="/checkout" >Proceed to Checkout</button>
                    </div>
                    <div class="card-footer border-white">
                        <img src="https://images.livemint.com/img/2022/05/26/600x338/G_(2)_1650455177271_1653553031020.jpg" class="imcard me-1">
                       <span style="font-size:10px">own it now, up to 6 months interest free <a href="#">learn more</a> </span> 
                    </div> 
                </div>
        </div> 
        <div class="col"></div>

    </div>
  </div>
</ng-container>


<!-- 
<ng-container *ngIf="false">
<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col "> 
            <div class="card text-center">
               <h4 class="card-title">My cart</h4>
               <div class=" card-body">
                    <h5>Your cart is empty</h5>
                    <h6>Add item to it now</h6>
                    <button routerLink="/products" class="btn btn-primary mt-5">Shop Now</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</ng-container>  -->