<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manipulate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Cimi</td>
            <td><button>Edit</button><button>Delete</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cimi</td>
            <td><button>Edit</button><button>Delete</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cimi</td>
            <td><button>Edit</button><button>Delete</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Cimi</td>
            <td><button>Edit</button><button>Delete</button></td>
        </tr>
    </tbody>
</table>