<div class="jumbotron jumbotron-fluid ">
    <div class="container ">
        <form [formGroup]="categoryFormGroup">
            <h1 *ngIf="idOfCategory===0; else update" class="display-5 text-center mt-5">Add a new Category</h1>
            <ng-template #update>
                <h1 class="display-5 text-center mt-5">Update Category</h1>
            </ng-template>
            <div class="row form-group mt-4">
                <div class="col"></div>
                <div class="col-sm-3 ">
                    <label>Category Name</label>
                    <input [ngClass]="{
                        'is-invalid':
                        categoryFormGroup.get('name')?.status == 'INVALID' &&
                        categoryFormGroup.get('name')?.touched
                      }" formControlName="name" type="text" class="form-control" />
                    </div>
    
                    <div class="col"></div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center mt-5">
                        <button [disabled]="categoryFormGroup.invalid" *ngIf=" idOfCategory===0" (click)="addCategory()"
                            class="btn btn-dark float-right mx-3">
                            Add
                        </button>
                        <button *ngIf="idOfCategory!==0" (click)="updateCategory()" class="btn btn-dark float-right mx-3">
    
                            Update
                        </button>
                        <button routerLink="/admin/app-product-list" class="btn btn-outline-dark float-right">
                            Back
                        </button>
    
                    </div>
                </div>
            </form>
        </div>
    </div>






