
            <div class="myContainer mt-3">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">
                            <h3>Product List</h3>
                            <a class="add-product"  routerLink="/admin/product-details">Add Product</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th >ID</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let value of data">
                                    <td>{{value.id}}</td>
                                    <td>{{value.name}}</td>
                                    <td>{{value.category}}</td>
                                    <td>{{value.price | currency:'USD'}}</td>
                                    <td >
                                        <button id="editBtn" type="button" style="background-color: white; border: none;margin: 0 0px 0 0px;" ><i class="fa-solid fa-pen-to-square" style="color: rgb(0, 202, 17);"></i></button>
                                        <button id="deleteBtn" type="button" style="background-color: white; border: none;margin: 0 0px 0 9px;" ><i class="fa-solid fa-trash" style="color: red;"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>
                <div>
                    <app-category-list></app-category-list>
                </div>
            </div>
          
   
                     
                                        
                           
                        
                       
                               
                        
                        
                   
                
           
  
        
      
                            










