<div class="container my-3" id="login-form-wrap">
  <img src="../../../assets/kisspng-computer-icons-user-setting-icon-5ae1412577dfd6.945531711524711717491.png"
    height="150px" alt="">
  <form id="login-form" [formGroup]=" logInForm">
    <input type="text" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Username"
      formControlName="username">
    <input type="password" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Password"
      formControlName="password">
      <p *ngIf="error" class="error-message">INVALID CREDENTIAL !</p>
      <button class="btn btn-success" (click)=" logOn()" type="submit" value="Login">Login</button>
      <button class="btn btn-secondary" routerLink="">Back</button>
    </form>
  </div>

