.container-fluid{
  height:40px;
}
i{
  cursor: pointer;
}
.navphoto{
  width:60px
}
.fa-cart-plus{
  font-size: 20px;
}
a{
  font-size:18px;
  color:black
}
.navbar-nav .nav-link.active-link{
  color:red;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration:underline
}

