
.link1{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-style:italic;
  cursor: pointer;
}

.fa-cart-plus{
  color:rgb(9, 9, 9);
  position:absolute;
  right:5%;
  font-size: 30px;

}

.bagde{
  color:white;
  position:absolute;
  right:5%;
  font-size: 30px;

}



.carousel {
  width:640px;

}




