i{
  cursor: pointer;
}

.navphoto{
  width:70px
}

ul{

  right:50%
}

.link1{
  text-decoration: none;
  color:white;
  font-weight: bold;
  cursor: pointer;
}

.fa-search{
  border-radius: 15px;
 
}

.fa-cart-plus{
  color:rgb(9, 9, 9);
  // position:absolute;
  // right:1%;
  font-size: 20px;

}

.bagde{
  color:white;
  position:absolute;
  right:5%;
  font-size: 30px;

}

.carousel {
  width:640px;
}




