<div class="container-fluid" style="background-color: black;">
    <div class="row text-white ">
        <div class="col d-flex justify-content-center">
          <small><i class="fa fa-clock"></i> Mon-Fri 9:00AM-15:00PM</small>
        </div>
        <div class="col d-flex justify-content-center">
         <small> <i class="fa fa-location-dot"></i> Tirana Albania</small> 
        
        </div>
        <div class="col d-flex justify-content-center">
          <small><a class="link1" href="#">About Us</a></small>
        </div> 
      </div>
</div>

<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid ">
    <img class="navphoto" src="/assets/new.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 ">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Product List</a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link  " href="#" >Sm else </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link">
            <div routerLink="cart" class="cart" >
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            <!-- <div style="font-size: 14px;" class="bagde bg-danger">{{1}}</div> -->
            </div></a>
        </li>
      </ul>
      <form class="d-flex justify-content-end" >
        <div *ngIf="bool; else elseBlock">
          <button 
          id="addCategory" 
          type="button" 
          class="btn btn-sm btn-dark "
          (click)="bool=!bool"><i class="fa fa-search"></i></button>
      </div>
      <ng-template #elseBlock>
          <input 
          class="form-control"
          type="text" 
          placeholder="Search product...">
      </ng-template>
      
      </form>
        
    </div>
  </div>
</nav>
<div class=" div1 text-center" style="background-color: rgba(81, 79, 79, 0.2); height: 1px;"></div>




