<div class="card-wapper">
  <div class="card">
    <div class="product-imgs">
      <div class="img-select">
        <div class="img-item">
          <a data-id="1">
            <img [src]="product.image" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="product-content">
      <h2 class="product-title">{{product.name}}</h2>


      <div class="product-price">
        <p class="last-price">
          Price <span>{{product.price | currency}}</span>
        </p>

      </div>
      <div class="product-details">
        <h2>About this item</h2>
        <p class="product-description">{{product.description}}</p>

        <ul class="">
          <li>Available: <span>In stock</span></li>
          <li>Category: <span>{{product.categoryId}}</span></li>
          <li>Shipping Fee: <span>Free</span></li>
        </ul>
      </div>
      <div class="purchase-info">
        <button type="button" class="btn">
          Add to Cart <i class="fas fa-shopping-cart"></i>
        </button>
         
        <div class="rate">
          <input type="radio" id="star5" name="rate" [value]="5" [(ngModel)]="fiveStar" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" [value]="4" [(ngModel)]="fourStar"/>
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" [value]="3" [(ngModel)]="threeStar" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" [value]="2"  [(ngModel)]="twoStar" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" [value]="1"  [(ngModel)]="oneStar" />
          <label for="star1" title="text">1 star</label>
        </div>



      </div>
      <div class="social-links">
        <p>Share at:</p>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</div>