<div class="card-wapper">
    <div class="card">
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src="" alt="" />
          </div>
        </div>
        <div class="img-select">
          <div class="img-item" >
            <a data-id="1">
              <img src="" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="product-content">
        <h2 class="product-title">Men Hats</h2>
        <a href="#" class="product-link">visit nike store</a>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div>
        <div class="product-price">
          <p class="last-price">
            Old price <span></span>
          </p>
          <p class="new-price">
            New price <span></span>
          </p>
        </div>
        <div class="product-details">
          <h2>About this item</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            aspernatur recusandae eveniet, id officia commodi soluta iure animi
            tempora! Deleniti beatae aperiam totam fuga labore quo tempora
            doloremque nihil voluptatum iusto, esse obcaecati natus voluptatem,
            veniam reprehenderit nulla quisquam inventore dolor, atque fugiat
            saepe error. Esse magni eos alias unde molestiae earum quibusdam,
            similique ut et ducimus optio maxime, officia id! Provident doloribus
            eveniet ipsum rem! Quisquam eligendi dolor accusantium ut deleniti
            exercitationem amet, voluptatibus consequatur et consectetur, minima
            eum itaque, mollitia possimus. Dolor ipsa deserunt distinctio quasi
            architecto aut culpa cupiditate dignissimos, repellat, iusto
            consequuntur saepe perferendis corporis aspernatur.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est
            corrupti debitis. Vitae, voluptatem fuga! At placeat optio iste odio
            eligendi iure natus dolor, pariatur culpa, voluptate expedita sunt
            minima!
          </p>
          <ul>
            <li>Color:<span>Black</span></li>
            <li>Available:<span>In stock</span></li>
            <li>Category:<span>Hats</span></li>
            <li>Shipping Fee:<span>Free</span></li>
          </ul>
        </div>
        <div class="purchase-info">
          <input type="number" min="0" value="1" />
          <button type="button" class="btn">
            Add to Cart <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
        <div class="social-links">
          <p>Share at:</p>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>