<div class="banner mb-5">
    <div class="bannerFirst ">
     <h1 class="mb-5">Fashion Shop</h1>
     <a routerLink="products">SHOP NOW <i class="bi bi-arrow-right-circle"></i></a>
    </div>
 </div>

 <div class="container-fluid">
    <h1 class="text-center">Categories</h1>
       <div class="row ">
        <div class="col-lg-4 mt-2 d-flex justify-content-center">
           <h1 class="text">Shoes</h1>
           <img class="imag" src="/assets/shoes.jpg">
       </div> 
   
       <div class="col-lg-4 mt-2 d-flex justify-content-center">
           <h1 class="text">Pants</h1>
           <img class="imag" src="/assets/pants.jpg">
          </div>
       <div class="col-lg-4 mt-2 d-flex justify-content-center">
           <h1 class="text" >T-shirt</h1>
           <img class="imag" src="/assets/tshirt.webp">
       </div>
       </div>
   </div> 