<!-- footer -->
<div class="container-fluid footer mt-5 p-5 bg-dark">
  <div class="row ">
    <div class="row d-flex justify-content-right mb-5">
      <div class="col-auto text-right ">
          <h1>Your style our priority</h1>
          <small>Fashion everyday</small>
      </div>
      <div class="col-md-5 d-flex justify-content-end col-12">
        <div class="form-outline form-white mb-4">
          <input type="email" id="form5Example21" class="form-control" placeholder="Your email" />  
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-outline-light mb-4">
          Subscribe
        </button>
      </div>
    </div>
    
    <div class="row text-white">
      <div class="col mb-4 ">
        <h5 class="text-uppercase">Links</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil ducimus rem laudantium recusandae explicabo quasi quia iure. Vel, illo?</p>
      </div>
      
      <div class="col  mb-md-0">
        <h5 class="text-uppercase">links</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque dignissimos pariatur sed officiis. Labore provident quo ipsum laborum voluptatibus!</p>
      </div>
      
      <div class="col  mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, consectetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, officiis?</p>
      </div>
      
      <div class="col mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet rem quisquam quas quasi ipsum amet quam sit? Possimus, error optio?</p>
      </div>

      <div class="col mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet rem quisquam quas quasi ipsum amet quam sit? Possimus, error optio?</p>
      </div>

    </div>
     

  <!-- Copyright -->
  <div class="container">
    <div class="row">
      <div class=" div1 text-center" style="background-color: rgba(81, 79, 79, 0.2);"></div>
      <div class=" col text-right p-3" >
        <a class="text-white" href="#">instagram</a>
        <a class="text-white" href="#">facebook</a>
        <a class="text-white" href="#">twitter</a>
      </div>

      <div class=" col text-right p-3" >
        <a class="text-white" href="#">Carts icons </a>
      </div>

      <div class=" col text-right p-3" >
        © 2020 Copyright:
        <a class="text-white" href="#">yourstyle.com</a>
      </div>
    </div>
  </div>

  </div>
</div>
